<div class="row" style="background-color: #000">
  <div class="col-md-3">
    <nav id="dr-menu" class="dr-menu">
      <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">开学事项</a></div>
      <ul class="ul">
        <li><a class="dr-icon xuzhi" ng-href="">入学须知</a></li>
        <li class="xuzhison hidden"><a class="dr-icon" ng-href=""><p>1、必备文件</p></a></li>
        <li class="xuzhison hidden"><a class="dr-icon" ng-href=""><p>2、生活用品</p></a></li>
        <li class="xuzhison hidden"><a class="dr-icon" ng-href=""><p>3、必备衣物</p></a></li>
        <li class="xuzhison hidden"><a class="dr-icon" ng-href=""><p>4、饮食用具</p></a></li>
        <li class="xuzhison hidden"><a class="dr-icon" ng-href=""><p>5、外出旅行</p></a></li>
        <li class="xuzhison hidden"><a class="dr-icon" ng-href=""><p>6、文具用品</p></a></li>
        <li class="xuzhison hidden"><a class="dr-icon" ng-href=""><p>7、电子产品</p></a></li>
        <li><a class="dr-icon" ng-href="">报到流程</a></li>
        <li><a class="dr-icon junxun" ng-href="">新生军训</a></li>
        <li class="junxunson hidden"><a class="dr-icon" ng-href=""><p>1、必备物品</p></a></li>
        <li class="junxunson hidden"><a class="dr-icon" ng-href=""><p>2、军训内容</p></a></li>
        <li class="junxunson hidden"><a class="dr-icon" ng-href=""><p>3、必会歌曲</p></a></li>
        <li class="junxunson hidden"><a class="dr-icon" ng-href=""><p>4、拉歌必备</p></a></li>
        <li class="junxunson hidden"><a class="dr-icon" ng-href=""><p>5、小编寄语</p></a></li>
        <li><a class="dr-icon" ng-href="">入学考试</a></li>
        <li><a class="dr-icon" ng-href="">大学模式</a></li>
        <li><a class="dr-icon" ng-href="#main.html">返回</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9">
    <p>Box 1: Reveal Immediately</p>
      <div class="box1">
        <p>Lorem ipsum dolor sit amet, ne mel vero impetus voluptatibus</p>
      </div>
  </div>
</div>
