<div class="row" style="background-color: #000">
  <div class="col-md-4">
    <nav id="dr-menu" class="dr-menu">
      <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">Account</a></div>
      <ul>
        <li><a class="dr-icon dr-icon-user" ng-href="#">Xavier Densmore</a></li>
        <li><a class="dr-icon dr-icon-camera" ng-href="#">Videos</a></li>
        <li><a class="dr-icon dr-icon-heart" ng-href="#">Favorites</a></li>
        <li><a class="dr-icon dr-icon-bullhorn" ng-href="#">Subscriptions</a></li>
        <li><a class="dr-icon dr-icon-download" ng-href="#">Downloads</a></li>
        <li><a class="dr-icon dr-icon-settings" ng-href="#">Settings</a></li>
        <li><a class="dr-icon dr-icon-switch" ng-href="#">Logout</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-8"></div>
</div>
