<div class="row">
  <div class="col-md-3" style="background-color: #0f0f0f">
    <nav id="dr-menu" class="dr-menu">
      <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">学校周边</a></div>
      <ul class="ul">
        <li><a class="dr-icon" ng-href="">交通路线</a></li>
        <li><a class="dr-icon" ng-href="">食宿餐饮</a></li>
        <li><a class="dr-icon" ng-href="">旅游攻略 </a></li>
        <li><a class="dr-icon" ng-href="">青岛特产</a></li>
        <li><a class="dr-icon" ng-href="#main.html">返回</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 tab-content">
    <dl class="lead tab-pane active ">

    </dl>
    <dl class="lead tab-pane fade">

    </dl>

  </div>
</div>
