<div class="row">
  <div class="col-md-3" >
    <nav id="dr-menu" class="dr-menu">
      <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">学校周边</a></div>
      <ul class="ul">
        <li><a class="dr-icon" ng-href="">交通路线</a></li>
        <li><a class="dr-icon" ng-href="#around2">食宿餐饮</a></li>
        <li><a class="dr-icon" ng-href="">旅游攻略 </a></li>
        <li><a class="dr-icon" ng-href="">青岛特产</a></li>
        <li><a class="dr-icon a" ng-href="#main.html">返回</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 tab-content" align="center">
    <dl class="lead tab-pane active ">

    </dl>
    <dl class="lead tab-pane fade" id="around2">
      <dd><h2 class="h2">出去High</h2></dd>
      <dd><span class="glyphicon glyphicon-hand-right" aria-hidden="true">
        <a href="http://r.xiumi.us/board/v5/2xD64/17398112" style="text-decoration:none;"target="_blank">&nbsp;石大食宿记</a>
      </span></dd><br>
      <dd><img src="images/shisu.jpg" alt="" width="100%"></dd><br>
      <dd><span class="glyphicon glyphicon-hand-right" aria-hidden="true">
        <a href="http://r.xiumi.us/board/v5/2xD64/17398112" style="text-decoration:none;"target="_blank">&nbsp;石大食宿记</a>
      </span></dd><br>
      <dd><img src="images/shisu.jpg" alt="" width="100%"></dd>
    </dl>

  </div>
</div>
