<div class="row">
  <div class="col-md-3" style="background-color: #0f0f0f">
    <nav id="dr-menu" class="dr-menu">
      <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">七、	石大美景</a></div>
      <ul class="ul">
        <li><a class="dr-icon" ng-href="">校园美景</a></li>
        <li><a class="dr-icon" ng-href="">石大宣传片</a></li>
        <li><a class="dr-icon" ng-href="">活动照片</a></li>
        <li><a class="dr-icon" ng-href="">百团大战</a></li>
        <li><a class="dr-icon" ng-href="">跳蚤市场</a></li>
        <li><a class="dr-icon" ng-href="">运动会</a></li>
        <li><a class="dr-icon" ng-href="">毕业季</a></li>
        <li><a class="dr-icon" ng-href="">音乐会</a></li>
        <li><a class="dr-icon" ng-href="#main.html">返回</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 tab-content">
    <dl class="lead tab-pane active ">

    </dl>
    <dl class="lead tab-pane fade">

    </dl>

  </div>
</div>
