<div class="row">
  <div class="col-md-3" style="background-color: #0f0f0f">
    <nav id="dr-menu" class="dr-menu">
      <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">易班指南</a></div>
      <ul class="ul">
        <li><a class="dr-icon" ng-href="">易班介绍</a></li>
        <li><a class="dr-icon" ng-href="">客户端使用</a></li>
        <li><a class="dr-icon" ng-href="">网页端使用</a></li>
        <li><a class="dr-icon" ng-href="">易班应用</a></li>
        <li><a class="dr-icon" ng-href="">易班活动</a></li>
        <li><a class="dr-icon" ng-href="">期待加入</a></li>
        <li><a class="dr-icon" ng-href="#main.html">返回</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 tab-content">
    <dl class="lead tab-pane active " >
    </dl>
    <dl class="lead tab-pane fade" >
    </dl>
    <dl class="lead tab-pane fade" >
    </dl>
  </div>
</div>
