<div class="row">
  <div class="col-md-3">
    <nav id="dr-menu" class="dr-menu">
      <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">学子风采</a></div>
      <ul class="ul">
        <li><a class="dr-icon" ng-href="">十佳学生</a></li>
        <li><a class="dr-icon" ng-href="">十佳团员</a></li>
        <li><a class="dr-icon" ng-href="">十佳党员</a></li>
        <li><a class="dr-icon" ng-href="">省级先进班</a></li>
        <li><a class="dr-icon a" ng-href="#main.html">返回</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 tab-content">
    <dl class="lead tab-pane active ">

    </dl>
    <dl class="lead tab-pane fade">

    </dl>

  </div>
</div>
