<div class="row">
  <div class="col-md-3" style="background-color: #0f0f0f">
    <nav id="dr-menu" class="dr-menu">
      <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">校园须知</a></div>
      <ul class="ul">
        <li><a class="dr-icon" ng-href="">宿舍楼</a></li>
        <li><a class="dr-icon" ng-href="">食堂餐饮</a></li>
        <li><a class="dr-icon" ng-href="">银行<br>电信<br>营业厅</a></li>
        <li><a class="dr-icon" ng-href="">购物<br>打印<br>体育运动</a></li>
        <li><a class="dr-icon" ng-href="">教学楼</a></li>
        <li><a class="dr-icon" ng-href="#main.html">返回</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 tab-content">
    <dl class="lead tab-pane active ">

    </dl>
    <dl class="lead tab-pane fade">

    </dl>

  </div>
</div>
