<div class="row">
  <div class="col-md-3">
    <nav id="dr-menu" class="dr-menu">
      <div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">校园须知</a></div>
      <ul class="ul">
        <li><a class="dr-icon" ng-href="">宿舍楼</a></li>
        <li><a class="dr-icon" ng-href="#known2">食堂餐饮</a></li>
        <li><a class="dr-icon" ng-href="">银行<br>电信<br>营业厅</a></li>
        <li><a class="dr-icon" ng-href="">购物<br>打印<br>体育运动</a></li>
        <li><a class="dr-icon" ng-href="">教学楼</a></li>
        <li><a class="dr-icon a" ng-href="#main.html">返回</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 tab-content" align="center">
    <dl class="lead tab-pane active ">

    </dl>
    <dl class="lead tab-pane fade" id="known2">
      <dd><h2 class="h2">吃在石大</h2></dd>
      <dd><span class="glyphicon glyphicon-hand-right" aria-hidden="true">
        <a href="http://r.xiumi.us/board/v5/2xD64/17521090" style="text-decoration:none;"target="_blank">&nbsp;食堂餐饮攻略，各食堂介绍</a>
      </span></dd><br><br>
      <dd><img src="images/chi.jpg" alt="" width="100%"></dd>
    </dl>

  </div>
</div>
