
<div class="nav">

  <ul>
    <li><img height=130 width=130 src="images/icon.jpg" class="liIcon">
      <div class="LinkArr">
        <h2>基本查询:</h2>
        <a href="#">1.校园电子地图</a><br>
        <a href="#">2.学校周边旅游地图</a><br>
        <a href="#">3.查班级、查宿舍、查导员</a><br>
      </div>


    </li>
    <li><img height=130 width=130 src="images/icon.jpg" class="liIcon"></li>
    <li><img height=130 width=130 src="images/icon.jpg" class="liIcon"></li>
    <li><img height=130 width=130 src="images/icon.jpg" class="liIcon"></li>
    <li><img height=130 width=130 src="images/icon.jpg" class="liIcon"></li>
    <li><img height=130 width=130 src="images/icon.jpg" class="liIcon"></li>
    <li><img height=130 width=130 src="images/icon.jpg" class="liIcon"></li>
  </ul>
