<div>
  <!-- Nav tabs -->
  <ul class="">
    <li role="presentation" class="active"><a href="#1" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#3" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#4" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="1">1</div>
    <div class="tab-pane" id="2">2</div>
    <div class="tab-pane" id="3">3</div>
    <div class="tab-pane" id="4">4</div>
  </div>

</div>
